/*Menu Dropdown*/
.dropmenu{
	background: transparent;
	height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0px;
}

.dropmenu li {
	float: left;
	height: 30px;
}

.dropmenu li a {
	color: black;
	display: block;
	font: 13px arial, verdana, sans-serif;
	font-weight: bold;
	padding: 8px 20px;
	text-decoration: none;
}

.dropmenu li:hover { 
	background: #B2D1FF;
	position: relative; 
}
/*End Menu Dropdown*/


/* Pagination */
.list {
	float: left;
	margin: 10px 28px;
}	
/* End Pagination */


/* Table */
table.border {
	border-collapse: collapse;
}
/* End Table */


/* Footer */
.footer{
	margin: 0 auto;
	margin-top: 30px;
}
/*End Footer*/

/* Link */
.href{
	text-decoration: none;
	color: #002966;
}
/*End Link*/

/*Image*/
img.gambar:hover {
	box-shadow: 10px 10px 10px #0066FF;
}
/*End Image*/

/*Table*/
tr.hover:hover {
	background: #A1A1A1;
}
/*End Table*/

/*Div*/
.row {
	width: 70%;
	background-color: #E6E6E6;
}
/*End Div*/