/*Menu Dropdown*/
.dropmenu{
	background: transparent;
	height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0px;
}

.dropmenu li {
	float: left;
	height: 30px;
}

.dropmenu li a {
	color: #FFF;
	display: block;
	font: 13px arial, verdana, sans-serif;
	font-weight: bold;
	padding: 8px 20px;
	text-decoration: none;
}

.dropmenu li:hover { 
	background: #B2D1FF;
	position: relative;
	border-radius: 20px;
}

.dropmenu li a:hover {
	color: black;
}
/*End Menu Dropdown*/


/* Pagination */
.list {
	float: left;
	margin: 10px 28px;
}	
/* End Pagination */


/* Table */
table.border {
	border-collapse: collapse;
}

tr.hover:hover {
	background: #A1A1A1;
}

.width {
	width: 70%;
}
/* End Table */


/* Footer */
.footer{
	margin: 0 auto;
	margin-top: 30px;
}
/*End Footer*/

/* Link */
.href{
	text-decoration: none;
	color: #002966;
}
.ref:hover {
	text-decoration: underline;
	color: #005CE6;
}
a.plus {
	color: #3385FF;
	width: 8px;
	height: 8px;
	right: 12px;
	top: 50%;
	content: "\a0";
	display: inline-block;
	vertical-align: middle;
	border-style: solid;
	border-width: .14rem .14rem 0 0;	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

a.minus {
	color: #3385FF;
	width: 8px;
	height: 8px;
	right: 12px;
	top: 50%;
	content: "\a0";
	display: inline-block;
	vertical-align: middle;
	border-style: solid;
	border-width: 0 0 .14rem .14rem;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

a.disabled {
	color: #97A0A4;
	pointer-events: none;
	cursor: default;
}
/*End Link*/

/*Image*/
img.image {
	box-shadow: 0 2px 10px #0066FF;
}
img.image:hover {
	box-shadow: 0 -2px 10px #0066FF;
}
/*End Image*/

/*Div*/
.row {
	margin-left: 190px;
	width: 884px;
	background-color: #3385FF;
}

.row1 {
	margin-left: 190px;
	width: 884px;
	background-color: #E6E6E6;
}

.row-index {
	margin-left: 189px;
	width: 879px;
	background-color: #E6E6E6;
	position: inherit;
}
/*End Div*/

/*Button Buy*/
.button {
  padding: 5px 10px 5px;
  cursor: pointer;
  line-height: 150%;
  margin: 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  background: #13c4ff;
  border: 1px solid #E6E6E6;
  color: white;
  font-weight: 400;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.button.alert {
	background: #FF3B30;
	padding: 5px 10px 5px;
	font-weight: 400;
}

.button.round {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  padding: 5px 20px 5px;
}

.round-group {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.round-group-right {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#buy.button:hover {
	background: #0052CC;
}

#alert.button:hover {
	background: #F00;
}
/*End Button Buy*/

/*Radius*/
.radius {
	border-radius: 20px;
}

.radius-top {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
/*End Radius*/

/*Pagination*/
.display {
	background: #13C4FF;
	color: #FFF;
	font-weight: bold;
	/*display: block;*/
	padding: 0 5px 0 5px;
}
/*End Pagination*/

.stock {
	font-weight: bold;
	margin-right: 20px;
	color: #F00;
}